# Khám phá dữ liệu

Notebook này để khám phá dữ liệu.

## Import những thư viện cần thiết

In [23]:
import numpy as np
import pandas as pd

## Đọc dữ liệu từ file

File dữ liệu của đồ án sau bước thu thập dữ liệu đang nằm tại địa chỉ '../thu_thap_du_lieu/animal_crawler/animal_info.csv'. Ta sẽ tiến hành đọc dữ liệu đã thu thập và lưu vào DataFrame `animal_df`

In [24]:
animal_df = pd.read_csv('../thu_thap_du_lieu/animal_crawler/animals_info.csv')

Hiển thị 5 dòng đầu tiên trong dữ liệu để xem thử đã đọc đúng hay chưa

In [26]:
pd.reset_option('display.max_colwidth')
animal_df.head(5)

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'pack, route, rout', 'Lifestyle...","Carnivore,,Scavenger","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Stable', 'Population sta..."
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...","{'Geography': {'Continents': 'Asia', 'Subconti...","{'Lifestyle': 'Cursorial, Terrestrial, Ambush ...",Carnivore,"{'Mating behavior': 'Polygyny', 'Reproduction ...","{'Population trend': 'Decreasing', 'Population..."
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'sloth, sleuth', 'Lifestyle': '...",Omnivore,"{'Mating behavior': 'Polygynandry,', 'Reproduc...","{'Population trend': 'Stable', 'Population sta..."
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","{'Geography': {'Continents': 'Africa, South Am...","{'Group name': 'pod, gam, herd, school, mod', ...","Carnivore,,Piscivores","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Increasing', 'Population..."
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","{'Geography': {'Continents': 'Africa, Oceania,...","{'Group name': 'pod, gam, herd, school, mod', ...",Carnivore,"{'Mating behavior': 'Polygynandry', 'Reproduct...",{'Population status': 'Data deficient (DD)'}

Xem xét dữ liệu trên thì thấy một số dòng bị lỗi, cần loại bỏ.
Cụ thể ở đây là thu thập dữ liệu về thú nhưng có một số dòng có giá trị cột 'Kingdom' không phải là 'Animalia'. Ở đây ta sẽ xóa luôn những dòng như thế, vì dữ liệu khá lớn nên xóa bớt một vài dòng có lẽ sẽ không có ảnh hưởng nhiều.

In [27]:
animal_df = animal_df[animal_df['Kingdom'] == 'Animalia']

## Dữ liệu có bao nhiêu dòng, bao nhiêu cột?

In [28]:
animal_df.shape

(28525, 22)

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng cho chúng ta biết các thông tin về một con vật, tất cả các dòng đều có cùng ý nghĩa như nhau.

## Dữ liệu có các dòng bị lặp không?

Chúng ta sử dụng hàm 'duplicated' trong pandas để kiểm tra dòng đó có phải bị lặp trong DataFrame hay không. Nếu kết quả là dòng đó bị lặp sẽ trả về giá trị 1, ngược lại sẽ là 0. Kế tiếp chúng ta sử dùng hàm 'sum' để tính tất cả giá trị trả về của hàm 'duplicated'. Nếu kết quả > 0 thì chứng tỏ có tồn tại dòng bị lặp.

In [29]:
animal_df.duplicated().sum()

0

Vậy là dữ liệu của chúng ta không tồn lại dòng nào bị lặp lại.

## Mỗi cột có ý nghĩa gì?

Sau khi thu thập dữ liệu xong, nhóm em đã tự phân tích ý nghĩa của mỗi trong file dữ liệu vừa thu thập, sau đó viết vào file `col_meaning.xlsx`. Đọc file excel này để biết được ý nghĩa của mỗi cột.

In [30]:
xlsx = pd.ExcelFile('col_meaning.xlsx')
col_meaning_df =pd.read_excel(xlsx,"Sheet1")
pd.set_option('display.max_colwidth', 0)
col_meaning_df

,Column,Description
0,Name,Name of Animal
1,Kingdom,Giới là đơn vị phân loại lớn nhất bao gồm các ngành sinh vật có chung những đặc điểm nhất định.
2,Phylum,Ngành: Một đơn vị phân loại ở cấp dưới giới và trên lớp.
3,Subphylum,Phân Ngành: là một bậc phân loại nằm trung gian giữa ngành và lớp hoặc phân thứ ngành hoặc liên lớp
4,Class,Lớp: Một mức độ phân loại động vật trong một ngành. Các lớp sau đó được chia nhỏ thành các nhóm khác được gọi là bộ
5,Order,Bộ: là một cấp nằm giữa lớp và họ.
6,Suborder,"Phân bộ: một nhóm thực vật hoặc động vật có liên quan, có quan hệ gần gũi hơn so với một bộ nhưng ít giống nhau hơn so với một họ."
7,Family,"Họ: Bộ được chia thành các họ, họ sẽ được chia thành các chi"
8,Genus,Chi: còn gọi là giống là một đơn vị phân loại sinh học dùng để chỉ một hoặc một nhóm loài có kiểu hình tương tự và mối quan hệ tiến hóa gần gũi với nhau.
9,Species,Loài: là một nhóm các cá thể sinh vật có những đặc điểm sinh học tương đối giống nhau và có khả năng giao phối với nhau và sinh sản ra thế hệ tương lai.
10,Population size,Ước tính số cá thể đang sống của loài
11,Life span,Tuổi thọ
12,Top speed,Tốc độ
13,Weight,Cân nặng
14,Height,Chiều cao
15,Length,Chiều dài
16,Attributes,Một số thông tin chính về loài vật
17,Distribution,Phân bổ: Nơi sinh sống
18,Habits,Thói quen
19,Diet,"Chế độ ăn (ăn cỏ, ăn tạp,…)"
20,Mating_Habits,Thói quen giao phối
21,Population,"Bao gồm xu hướng dân số (tăng, giảm, ổn định) và trạng thái dân số (nguy cấp, bị đe dọa, ít quan tâm,…)"

## Các cột lúc này đang có kiểu dữ liệu gì?

In [31]:
animal_df.dtypes

Name               object
Kingdom            object
Phylum             object
Subphylum          object
Class              object
Order              object
Suborder           object
Family             object
Genus              object
Species            object
Population size    object
Life span          object
Top speed          object
Weight             object
Height             object
Length             object
Attributes         object
Distribution       object
Habits             object
Diet               object
Mating_Habits      object
Population         object
dtype: object

## Tính xem tình trạng của mỗi cột dữ liệu hiện tại như thế nào?

### Với mỗi cột ta sẽ tính:
- Tỉ lệ mất mát: missing_ratio
- Số lượng giá trị khác nhau: num_values
- Số lần xuất hiện của từng giá trị: value

Viết hàm "col_info" để tính và lưu kết quả vào mảng "cat_col_info_df"

In [32]:
def col_info(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

In [33]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in animal_df.columns:
    if animal_df[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, animal_df)
        
pd.reset_option('display.max_colwidth')
cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
missing_ratio,0.0,0.0,0.0,64.4,0.0,1.5,91.0,0.0,0.0,0.0,93.7,93.6,98.0,90.0,98.9,89.7,0.0,0.0,0.0,90.9,0.0,0.0
num_values,28525,1,2,1,10,118,13,840,6127,28523,638,581,124,2232,245,2101,3078,8335,2143,308,2682,40
value,? Nycticebus linglom 1 AEECL's sportive l...,Animalia 28525 dtype: int64,Chordata 23659 Mollusca 4866 dtype: int64,Vertebrata 10152 dtype: int64,Amphibia 3393 Aves 1011...,Accipitriformes 255 Adapedonta 10 ...,Alcedini 109 Caniformia 19...,Abrocomidae 10 Abronicidae ...,Aaadonta 6 Abditomys 1 Abeillia ...,"""Calamita"" melanorabdotus 1 ""Calamita...","0.45-1 M 1 1 Mln 2 1,000 ...",1 yr 2 1-10 yrs 2 1-12.5 yrs...,0.24 km/h 1 0.26 km/h 1 0.27 km/h 1 0...,0-0 kg 3 0.010-0.796 g 1 0.02-2...,0.5 m 1 0.7-1.3 m 1 0.75-1 m ...,0.5 m 2 0.5-1.8 m 1 0.6-2.43 m ...,"Algivore,Detritivore,Herbivore,Fossorial,Polyg...",{'Geography': {'Biogeographical realms': 'Aust...,"{'Group name': '""bind"", contradiction, fling, ...","Algivore,,Detritivore,,Herbivore ...",{'Baby carrying': '1 baby'} ...,{'Population status': 'Critically endangered (...

## Xử lý tách các cột có kiểu dictionary thành nhiều cột

Đầu tiên các cột dictionary đều có kiểu là string nên ta phải xử lý chuyển các cột trên thành dict

In [34]:
for i in animal_df:
    if animal_df[i][0].find('{') != -1:
        animal_df[i] = animal_df[i].apply(eval)

Viết hàm "split_col" để split các cột có kiểu dữ liệu là dict thành nhiều cột

In [35]:
def split_col(df):
    element = []
    for i in df:
        if type(df[i][0]) == dict: 
            element.append(i)
    df_split_animals_info = pd.DataFrame()
    for i in df:
        if i not in element:
            df_split_animals_info[i] = df[i]
        else:
            temp3 = df[i][0].items()
            temp3 = np.array(list(temp3), dtype = object)
            df_temp2 = pd.DataFrame(columns = temp3[:, 0])
            for rows in df[i]:
                if type(rows) != float:
                    temp3 = rows.items()
                else:
                    temp3 = []
                temp3 = np.array(list(temp3), dtype = object)
                if len(temp3) > 1: 
                    df_temp = pd.DataFrame(index = temp3[:, 0], data = temp3[:, 1]).T
                else:
                    df_temp = pd.DataFrame(columns = df_temp2.columns, index = [0])
                df_temp2 = pd.concat([df_temp2, df_temp], ignore_index=True)
            df_split_animals_info = df_split_animals_info.join(df_temp2)
    return df_split_animals_info

In [36]:
df_split_animals_info = split_col(animal_df)
pd.set_option('display.max_columns', None)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Geography,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","{'Continents': 'Asia, Europe, North America, A...","[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunter...",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...","{'Continents': 'Asia', 'Subcontinents': 'South...","[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altri...",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","{'Continents': 'Asia, Europe, North America', ...","[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, ...","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","{'Continents': 'Africa, South America, Oceania...","[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Co...",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","{'Continents': 'Africa, Oceania, Antarctica, N...","[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, ...",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sau khi split dữ liệu có số dòng là 3237 và số cột là 37, tăng lên 15 cột

Nhưng nhìn lại dữ liệu vẫn còn cột là dictionary như "Geograpy", như vậy ta phải split thêm 1 lần nữa

In [37]:
df_split_animals_info = split_col(df_split_animals_info)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Oceans,Introduced countries,Islands,Seas,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","Asia, Europe, North America, Africa","South Asia, Western Asia, Southeast Asia, East...","Albania, Armenia, Azerbaijan, Belarus, Bhutan,...","Czech Republic, Estonia, Finland, France, Geor...",Greenland,"Nearctic, Palearctic, Indomalayan, Afrotropical",NaN,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunter...",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...",Asia,"South Asia, Southeast Asia, East Asia","Bangladesh, Bhutan, China, India, Indonesia,...",Thailand,"Tibet, Yunnan","Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altri...",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","Asia, Europe, North America","South Asia, Western Asia, East Asia, Central A...","Albania, Armenia, Austria, Azerbaijan, Belarus...",NaN,"Estonia, Finland, France, Georgia, Greece, Ind...","Nearctic, Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, ...","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","Africa, South America, Oceania, North America,...","Sub-Saharan Africa, Caribbean Islands, South A...","Angola, Argentina, Australia, Bahamas, Banglad...","Chile, China, Colombia, Comoros, Costa Rica, C...","Atlantic Ocean, Pacific Ocean",NaN,"Greenland, Kamchatka",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Co...",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","Africa, Oceania, Antarctica, North America, So...","North Africa, Caribbean Islands, South Asia, C...","Algeria, Antigua and Barbuda, Argentina, Austr...","Brunei, Cambodia, Cameroon, Canada, Cape Verde...","Arctic Ocean, Atlantic Ocean, Pacific Ocean",NaN,"Newfoundland, Hawaii, Greenland",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, ...",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sau khi split dữ liệu tăng thêm 9 cột

Lúc này ta tính lại missing_ratio xem các cột sau khi split như thế nào nhé

In [38]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in df_split_animals_info.columns:
    if df_split_animals_info[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, df_split_animals_info)

cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Oceans,Introduced countries,Islands,Seas,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
missing_ratio,0.0,0.0,0.0,64.4,0.0,1.5,91.0,0.0,0.0,0.0,93.7,93.6,98.0,90.0,98.9,89.7,0.0,70.6,96.5,68.9,92.9,69.8,93.5,99.5,99.2,98.9,99.9,2.8,2.8,95.2,72.1,72.8,100.0,81.8,90.9,93.9,94.9,95.4,92.2,94.2,96.6,96.6,94.2,97.4,24.2,24.2
num_values,28525,1,2,1,10,118,13,840,6127,28523,638,581,124,2232,245,2101,3078,252,224,3106,934,1136,393,71,186,129,11,2486,49,236,1378,47,1,2,308,22,612,680,652,560,33,38,80,339,4,9
value,? Nycticebus linglom 1 AEECL's sportive l...,Animalia 28525 dtype: int64,Chordata 23659 Mollusca 4866 dtype: int64,Vertebrata 10152 dtype: int64,Amphibia 3393 Aves 1011...,Accipitriformes 255 Adapedonta 10 ...,Alcedini 109 Caniformia 19...,Abrocomidae 10 Abronicidae ...,Aaadonta 6 Abditomys 1 Abeillia ...,"""Calamita"" melanorabdotus 1 ""Calamita...","0.45-1 M 1 1 Mln 2 1,000 ...",1 yr 2 1-10 yrs 2 1-12.5 yrs...,0.24 km/h 1 0.26 km/h 1 0.27 km/h 1 0...,0-0 kg 3 0.010-0.796 g 1 0.02-2...,0.5 m 1 0.7-1.3 m 1 0.75-1 m ...,0.5 m 2 0.5-1.8 m 1 0.6-2.43 m ...,"Algivore,Detritivore,Herbivore,Fossorial,Polyg...",Africa ...,"Angola, Botswana, Burundi, DR Congo, Kenya, Ma...",...,...,...,...,"Angola, Fiji, Italy, Japan, Mauritius, Panama,...",Afghanistan ...,"Algeria, Egypt, Libya, Morocco, Tunisia, Moldo...","Arctic Ocean, Atlantic Ocean, Pacific Ocean ...",[] ...,[] 25...,"""bind"", contradiction, fling, hill, ""time-step...",...,...,Common Ringtail Possum 1 dtype: int64,...,"Algivore,,Detritivore,,Herbivore ...",22 days 1 229 days ...,26-35 days ...,0 to 0.01 months 1 1 3 1 ...,0 to 1 2 0 to 2 ...,&gt;2 weeks 1 0 days ...,angeline 1 bitch ...,billy 2 boar 6...,"Fawn, twins 1 Hatchling 1 In...",1 month 12 1-3 months 1 1.5 months...,Decreasing 8097 Increasing 755 Stable ...,Critically endangered (CR) 847 Data defic...

## Tiếp tục tiền xử lý dữ liệu nhé

### Loại bỏ một số cột không cần thiết

Sau khi tách các cột thành dictionary, đã xuất hiện một số cột không cần thiết mà tỷ lệ miss lại khá cao, ta cần vứt bỏ những cột này cho dễ xử lý về sau.

In [39]:
cols = ['Oceans', 'Introduced countries', 'Seas', 'Islands', 'Predators', "Bird's call"]
for col in cols:
    df_split_animals_info  = df_split_animals_info.drop(columns  = col)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","Asia, Europe, North America, Africa","South Asia, Western Asia, Southeast Asia, East...","Albania, Armenia, Azerbaijan, Belarus, Bhutan,...","Czech Republic, Estonia, Finland, France, Geor...",Greenland,"Nearctic, Palearctic, Indomalayan, Afrotropical","[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunter...",Not a migrant,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...",Asia,"South Asia, Southeast Asia, East Asia","Bangladesh, Bhutan, China, India, Indonesia,...",Thailand,"Tibet, Yunnan","Palearctic, Indomalayan","[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altri...",Not a migrant,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","Asia, Europe, North America","South Asia, Western Asia, East Asia, Central A...","Albania, Armenia, Austria, Azerbaijan, Belarus...",NaN,"Estonia, Finland, France, Georgia, Greece, Ind...","Nearctic, Palearctic, Indomalayan","[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, ...","Hibernating, Migrating",Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","Africa, South America, Oceania, North America,...","Sub-Saharan Africa, Caribbean Islands, South A...","Angola, Argentina, Australia, Bahamas, Banglad...","Chile, China, Colombia, Comoros, Costa Rica, C...","Atlantic Ocean, Pacific Ocean",NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Co...",Migrating,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","Africa, Oceania, Antarctica, North America, So...","North Africa, Caribbean Islands, South Asia, C...","Algeria, Antigua and Barbuda, Argentina, Austr...","Brunei, Cambodia, Cameroon, Canada, Cape Verde...","Arctic Ocean, Atlantic Ocean, Pacific Ocean",NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, ...",Partial Migrant,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Tại đây ta sẽ tách các cột có thuộc tính cách nhau bằng dấu phẩy thành 1 list

Luu vào "element" là tên các cột có các thuộc tính phân tách bằng dấu phẩy

Các cột sau khi xử lý sẽ được lưu vào biến "splits"

In [40]:
element = np.array(['Attributes', 'Continents', 'Subcontinents', 'Countries', 'Regions', 'Wwf biomes', 'Group name', 'Diet', 'Biogeographical realms', 'Lifestyle',  'Seasonal behavior'])

splits = [df_split_animals_info[col].str.split(pat = ',| and |  ', expand = False) for col in element]
splits = pd.DataFrame(splits).T
# print(splits.shape)
# print(splits.head())

Sau khi tách xong ta tiến hành ghép 2 dataframe lại thành "data_df"

In [50]:
df_split_animals_info.drop(element, axis=1, inplace=True)
data_df = pd.concat([df_split_animals_info, splits], axis = 1)
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df
# df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Biome,Climate,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Seasonal behavior
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"[Wetlands , Shrubland, Forest, Mountains, Anthropogenic biome, Grassland, Rocky areas , Agricultural]","[Temperate, Cold, Polar, Tropical]",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator, Monogamy, Social, Dominance hierarchy, Not a migrant, starts with, Dangerous Animals]","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, East Asia, Central Asia, North Africa]","[Albania, Armenia, Azerbaijan, Belarus, Bhutan, Bosnia, Herzegovina, Bulgaria, Canada, China, Croatia, ]","[Czech Republic, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, India, Iran, , Iraq, Israel, Italy, Jordan, Kazakhstan, North Korea, South Korea, Kyrgyzstan, Latvia, Libya, Lithuania, Macedonia, Mexico, Moldova, Mongolia, Montenegro, Myanmar, Nepal, Norway, Oman, Pakistan, Poland, Portugal, Romania, Russia, Saudi Arabia, Serbia, Slovakia, Slovenia, Spain, Sweden, Syria, Tajikistan, Turkey, Turkmenistan, , Ukraine, United Arab Emirates, United States, Uzbekistan, Yemen, Bangladesh, Afghanistan]","[Nearctic, Palearctic, Indomalayan, Afrotropical]","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator]",[Not a migrant]
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"[Forest, Rainforest, Montane forest, Riparian, Shrubland, Grassland]","[Tropical, Temperate]",Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator, Polygyny, Solitary, Dominance hierarchy, Not a migrant, starts with, Camouflaged Animals, Dangerous Animals, Giant Animals]",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, , India, Indonesia, Laos, Malaysia, Myanmar, Nepal, Russia, ]",[Thailand],"[Palearctic, Indomalayan]",NaN,[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator]",[Not a migrant]
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"[Forest, Woodland]","[Temperate, Cold, Polar]","Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial, Nomadic, Territorial, Burrowing, Polygynandry, Serial monogamy, Dangerous, Solitary, Hibernating, Migrating, starts with, Lucky Animals, Canada Province Animals]","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Central Asia, Southeast Asia]","[Albania, Armenia, Austria, Azerbaijan, Belarus, Bosnia, Herzegovina, Bulgaria, Canada, China, Croatia, ]",NaN,"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece, India, Iran, Iraq, Italy, Japan, Kazakhstan, North Korea, Kyrgyzstan, Latvia, Macedonia, Mongolia, Montenegro, , Nepal, Norway, Pakistan, Poland, Romania, Russia, Serbia, Slovakia, Slovenia, Spain, Sweden, Tajikistan, Turkey, Ukraine, United States, Uzbekistan, Bhutan, Lebanon, Afghanistan]","[Terrestrial, Altricial, Nomadic, Territorial, Burrowing]","[Hibernating, Migrating]"
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator, Monogamy, Generally solitary, Migrating, starts with, Giant Animals]","[Africa, South America, Oceania, North America, Asia, Europe, Antarctica]","[Sub-Saharan Africa, Caribbean Islands, South Asia, East Asia, Central America, Southeast Asia, Western Asia, North Africa]","[Angola, Argentina, Australia, Bahamas, Bangladesh, Benin, Brazil, Cameroon, Canada, Cape Verde, ]","[Chile, China, Colombia, Comoros, Costa Rica, Cote d'Ivoire, Djibouti, Ecuador, El Salvador, Equatorial Guinea, Eritrea, Faroe Islands, France, Gabon, Ghana, Greece, Grenada, Guatemala, Iceland, India, Indonesia, Iran, Iraq, Ireland, Japan, Kenya, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mauritius, Mexico, Morocco, Mozambique, Myanmar, Namibia, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Peru, Philippines, Portugal, Russia, Sao Tomé, Principe, Senegal, Seychelles, Somalia, South Africa, , Spain, Sri Lanka, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, United Kingdom, United States, Uruguay, Western Sahara]",NaN,"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator]",[Migrating]
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"[Oceanic pelagic zone, Marine, Neritic zone, Estuaries]","[Tropical, Temperate, Cold, Polar]",Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator, Polygynandry, Highly social, Partial Migrant, starts with, Vicious Animals, Black And White Animals]","[Africa, Oceania, Antarctica, North America, South America, Asia, Europe]","[North Africa, Caribbean Islands, South Asia, Central America, Sub-Saharan Africa, Southeast Asia, East Asia, Western Asia]","[Algeria, Antigua, Barbuda, Argentina, Australia, Bahamas, Bangladesh, Barbados, Belize, Benin, Brazil, ]","[Brunei, Cambodia, Cameroon, Canada, Cape Verde, Chile, China, Colombia, Comoros, Congo, DR Congo, Costa Rica, Cote d'Ivoire, Cuba, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, El Salvador, Equatorial Guinea, Faroe Islands, Fiji, , France, Gabon, Gambia, Ghana, Grenada, Guadeloupe, Guatemala, Guinea, Guinea-Bissau, Guyana, Honduras, Iceland, India, Indonesia, Iran, Ireland, Israel, Italy, Jamaica, Japan, Kenya, Kiribati, Liberia, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mexico, Federated States of Micronesia, Monaco, Morocco, Mozambique, Myanmar, Namibia, , Nauru, Netherlands, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Peru, Philippines, Portugal, Russia, Saint Kitts, Nevis, Saint Lucia, Saint Vincent, the Grenadines, Samoa, Senegal, Sierra Leone, Singapore, Solomon Islands, Somalia, South Africa, Spain, Sri Lanka, Suriname, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, Tonga, , Trinidad, Tobago, Tunisia, ...]",NaN,"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator]",[Partial Migrant]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Migrating, starts with]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Migrating, starts with]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Xử lý tại các cột list, những giá trị nan sẽ được thay thế thành một list rỗng []

In [51]:
data_df[element] = data_df[element].fillna(data_df.notna().applymap(lambda x: x or []))
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Biome,Climate,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Seasonal behavior
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"[Wetlands , Shrubland, Forest, Mountains, Anthropogenic biome, Grassland, Rocky areas , Agricultural]","[Temperate, Cold, Polar, Tropical]",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator, Monogamy, Social, Dominance hierarchy, Not a migrant, starts with, Dangerous Animals]","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, East Asia, Central Asia, North Africa]","[Albania, Armenia, Azerbaijan, Belarus, Bhutan, Bosnia, Herzegovina, Bulgaria, Canada, China, Croatia, ]","[Czech Republic, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, India, Iran, , Iraq, Israel, Italy, Jordan, Kazakhstan, North Korea, South Korea, Kyrgyzstan, Latvia, Libya, Lithuania, Macedonia, Mexico, Moldova, Mongolia, Montenegro, Myanmar, Nepal, Norway, Oman, Pakistan, Poland, Portugal, Romania, Russia, Saudi Arabia, Serbia, Slovakia, Slovenia, Spain, Sweden, Syria, Tajikistan, Turkey, Turkmenistan, , Ukraine, United Arab Emirates, United States, Uzbekistan, Yemen, Bangladesh, Afghanistan]","[Nearctic, Palearctic, Indomalayan, Afrotropical]","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator]",[Not a migrant]
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"[Forest, Rainforest, Montane forest, Riparian, Shrubland, Grassland]","[Tropical, Temperate]",Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator, Polygyny, Solitary, Dominance hierarchy, Not a migrant, starts with, Camouflaged Animals, Dangerous Animals, Giant Animals]",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, , India, Indonesia, Laos, Malaysia, Myanmar, Nepal, Russia, ]",[Thailand],"[Palearctic, Indomalayan]",[],[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator]",[Not a migrant]
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"[Forest, Woodland]","[Temperate, Cold, Polar]","Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial, Nomadic, Territorial, Burrowing, Polygynandry, Serial monogamy, Dangerous, Solitary, Hibernating, Migrating, starts with, Lucky Animals, Canada Province Animals]","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Central Asia, Southeast Asia]","[Albania, Armenia, Austria, Azerbaijan, Belarus, Bosnia, Herzegovina, Bulgaria, Canada, China, Croatia, ]",[],"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece, India, Iran, Iraq, Italy, Japan, Kazakhstan, North Korea, Kyrgyzstan, Latvia, Macedonia, Mongolia, Montenegro, , Nepal, Norway, Pakistan, Poland, Romania, Russia, Serbia, Slovakia, Slovenia, Spain, Sweden, Tajikistan, Turkey, Ukraine, United States, Uzbekistan, Bhutan, Lebanon, Afghanistan]","[Terrestrial, Altricial, Nomadic, Territorial, Burrowing]","[Hibernating, Migrating]"
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator, Monogamy, Generally solitary, Migrating, starts with, Giant Animals]","[Africa, South America, Oceania, North America, Asia, Europe, Antarctica]","[Sub-Saharan Africa, Caribbean Islands, South Asia, East Asia, Central America, Southeast Asia, Western Asia, North Africa]","[Angola, Argentina, Australia, Bahamas, Bangladesh, Benin, Brazil, Cameroon, Canada, Cape Verde, ]","[Chile, China, Colombia, Comoros, Costa Rica, Cote d'Ivoire, Djibouti, Ecuador, El Salvador, Equatorial Guinea, Eritrea, Faroe Islands, France, Gabon, Ghana, Greece, Grenada, Guatemala, Iceland, India, Indonesia, Iran, Iraq, Ireland, Japan, Kenya, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mauritius, Mexico, Morocco, Mozambique, Myanmar, Namibia, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Peru, Philippines, Portugal, Russia, Sao Tomé, Principe, Senegal, Seychelles, Somalia, South Africa, , Spain, Sri Lanka, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, United Kingdom, United States, Uruguay, Western Sahara]",[],"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator]",[Migrating]
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"[Oceanic pelagic zone, Marine, Neritic zone, Estuaries]","[Tropical, Temperate, Cold, Polar]",Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator, Polygynandry, Highly social, Partial Migrant, starts with, Vicious Animals, Black And White Animals]","[Africa, Oceania, Antarctica, North America, South America, Asia, Europe]","[North Africa, Caribbean Islands, South Asia, Central America, Sub-Saharan Africa, Southeast Asia, East Asia, Western Asia]","[Algeria, Antigua, Barbuda, Argentina, Australia, Bahamas, Bangladesh, Barbados, Belize, Benin, Brazil, ]","[Brunei, Cambodia, Cameroon, Canada, Cape Verde, Chile, China, Colombia, Comoros, Congo, DR Congo, Costa Rica, Cote d'Ivoire, Cuba, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, El Salvador, Equatorial Guinea, Faroe Islands, Fiji, , France, Gabon, Gambia, Ghana, Grenada, Guadeloupe, Guatemala, Guinea, Guinea-Bissau, Guyana, Honduras, Iceland, India, Indonesia, Iran, Ireland, Israel, Italy, Jamaica, Japan, Kenya, Kiribati, Liberia, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mexico, Federated States of Micronesia, Monaco, Morocco, Mozambique, Myanmar, Namibia, , Nauru, Netherlands, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Peru, Philippines, Portugal, Russia, Saint Kitts, Nevis, Saint Lucia, Saint Vincent, the Grenadines, Samoa, Senegal, Sierra Leone, Singapore, Solomon Islands, Somalia, South Africa, Spain, Sri Lanka, Suriname, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, Tonga, , Trinidad, Tobago, Tunisia, ...]",[],"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator]",[Partial Migrant]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Migrating, starts with]",[],[],[],[],[],[],[],[],[],[]
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",[],[],[],[],[],[],[],[],[],[]
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Migrating, starts with]",[],[],[],[],[],[],[],[],[],[]
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",[],[],[],[],[],[],[],[],[],[]
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Terrestrial, Not a migrant, starts with]",[],[],[],[],[],[],[],[],[],[]

### Chuyển cột Top speed sang kiểu số

In [52]:
def to_float(element):
    try:
        return float(element)
    except ValueError:
        return np.nan

In [56]:
def trans_speed(speed):
    if pd.isna(speed): return np.nan
    speed = [speed[:-4].strip(), speed[-4:].strip()]
    if speed[1] == 'km/h':
        x = 1
    elif speed[1] == 'mph':
        x = 1.61
    sp = speed[0].split('-')
    if len(sp) == 1:
        return float(sp[0]) * x
    else:
        return (float(sp[0]) + float(sp[1])) / 2 * x

In [64]:
data_df['Top speed'] = data_df['Top speed'].apply(trans_speed)

### Chuyển cột life_span sang float

In [65]:
def trans_life_span(life):
    if pd.isna(life): return np.nan
    life = str(life)
    life = life.upper()
    life = life.replace('UPPER', '')
    life = life.replace('ABOVE', '')
    life = life.replace('OVER','')
    life = life.replace('mos', ' MONTHS ')
    life = life.replace('yr', ' YEARS ')
    life = life.replace('YRS', ' YEARS ')
    life = life.replace('YEARS', ' YEARS ')
    life = life.split('-')
    low = to_float(life[0])
    high = to_float(life[-1].split()[0].strip())
    x = life[-1].split()[-1].strip()
    if np.isnan(low):
        low = high
    t = 1.0
    if x == 'MONTHS':
        t = 1 / 12
    elif x == 'YEARS':
        t = 1.0
    low = low * t
    high = high * t
    return (low, high)

In [68]:
data_df['Life span'] = data_df['Life span'].apply(trans_life_span)
#data_df['Life span'].dropna()

## Thống kê các chỉ số cho các cột có kiểu dữ liệu là list

In [69]:
def stat_list_col(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.hstack(temp)
    temp = list(map(str.strip, temp)) # Xử lý các dấu cách đầu và cuối mỗi chuỗi
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

#     total = data_df[col].tolist()
#     total = np.hstack(total)
#     value, times = np.unique(total, return_counts = True)

In [70]:
list_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in data_df:
    if type(data_df[i][0]) == list:
        list_col_info_df[i] = stat_list_col(i, data_df)
list_col_info_df

,Biome,Climate,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Seasonal behavior
missing_ratio,2.8,2.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,43,6,139,128,72,248,417,265,398,30,412,47,8
value,Abyssal zone 3 Agricultural 689 Anthropogenic biome 8654 Belgium 1 Benthic 143 Bog 122 Brackish water 113 Caves 614 Chaparral 163 Cloud forest 1 Coastal 984 Coral reef 5 Dunes 14 Estuaries 196 Forest 15946 Freshwater 5384 Grassland 4712 Icecap 20 Intertidal zone 709 Lakes 350 Marine 1744 Marsh 346 Montane forest 133 Mountains 506 Neritic zone 1188 Oceanic pelagic zone 457 Prairie 5 Rainforest 692 Reef 27 Riparian 434 Rivers 396 Rocky areas 1585 Savanna 3295 Semi-desert 1 Shrubland 7149 Steppe 1 Suburban 344 Swamp 309 Temporary pools 76 Tropical rainforest 21 Urban wildlife 449 Wetlands 5614 Woodland 200 dtype: int64,Arid 274 Cold 281 Libya 1 Polar 159 Temperate 1586 Tropical 1786 dtype: int64,"Aestivation 71 Algivore 19 Altitudinal Migrant 41 Altricial 842 Ambush predator 128 ... Waterfowl 44 Weird Animals 18 Wild 3 Zoochory 597 starts with 28525 Length: 139, dtype: int64","67 Africa 1700 Albania 1 Angola 3 Antarctica 87 .. Uruguay 1 Venezuela 8 Zambia 1 Zimbabwe 1 the Grenadines 2 Length: 128, dtype: int64","35 Angola 3 Argentina 2 Bahamas 2 Bangladesh 3 .. Tanzania 2 United States 1 Western Asia 233 Yemen 1 Zambia 1 Length: 72, dtype: int64","2513 Afghanistan 87 Afrotropical 19 Alabama 1 Albania 230 ... Western Sahara 32 Yemen 23 Zambia 86 Zimbabwe 85 the Grenadines 79 Length: 248, dtype: int64","570 Acre 5 Afghanistan 80 Afrotropical 4 Alabama 23 .. Yunnan 37 Zambia 129 Zimbabwe 126 savannas 1 the Grenadines 61 Length: 417, dtype: int64","152 Afghanistan 1 Afrotropical 247 Afrotropical Desert 1 Alabama 1 .. scrub 90 shrublands 65 the Grenadines 1 the South Sandwich Islands 4 woodlands 90 Length: 265, dtype: int64","1 ""bind"" 1 ""little house"" 2 ""time-step"" 1 Altricial 1 .. wrench 1 yoke 3 zapper 4 zeal 3 zipper 4 Length: 398, dtype: int64",2972 Algivore 18 Carnivore 1291 Coprophage 23 Deer Mouse 1 Detritivore 22 Folivore 429 Frugivore 362 Graminivore 112 Granivore 271 Gumivorous 4 Herbivore 906 House Mouse 1 Hypercarnivore 2 Insectivores 572 Lignivore 65 Mesopredator 1 Molluscivore 143 Mycophage 8 Myrmecophagous 7 Nectarivore 56 Omnivore 512 Palynivore 6 Piscivores 287 Planktivore 41 Predator 1 Sanguivore 3 Scavenger 120 Vermivorous 65 Wildcat 1 dtype: int64,"548 Afghanistan 124 Afrotropical 935 Afrotropical Desert 1 Alabama 12 .. scrub 7 shrublands 6 the Grenadines 64 the South Sandwich Islands 11 woodlands 7 Length: 412, dtype: int64",7400 Aestivation 1 Altitudinal Migrant 1 Altricial 755 Ambush predator 119 Apex predator 39 Aquatic 95 Arboreal 843 Browsing 156 Brumation 8 Burrowing 308 Congregatory 968 Cosmopolitan 29 Cursorial 179 Flightless bird 27 Fossorial 158 Gliding 132 Grazing 186 Hibernating 2 Island endemic 132 Jumping 114 Mesopredator 8 Migrating 19 Natatorial 246 Nomadic 266 Not a migrant 44 Oviparous 350 Ovoviviparous 16 Pack hunters 18 Partial Migrant 4 Pelagic birds 19 Pollinator 64 Precocial 625 Predator 251 Pursuit predator 54 Scansorial 151 Seabird 58 Sedentary 1 Semiaquatic 215 Soaring birds 132 Terrestrial 7669 Territorial 752 Torpor 65 Viviparous 248 Wading birds 67 Waterfowl 43 Zoochory 384 dtype: int64,217 Aestivation 56 Altitudinal Migrant 35 Hibernating 244 Migrating 1607 Not a migrant 5559 Partial Migrant 399 Your browser does not support the audio element. 60 dtype: int64

### Lưu dữ liệu đã tiền xử lý vào file 'animals_split_info.csv' để tiếp tục sử dụng trong các phần sau

In [71]:
data_df.to_csv('animals_split_info.csv')